body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    text-align: center;
}
.img{
    text-align: center;
    margin: 0%;
}
h1{
    margin-top: 0%;
    text-align: center;
}
h2{
    text-align: center;
}
.item{
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid;
    color: white;
    text-align: left;
}

.grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.footer table{ 
    text-align: center;     
    background: rgba(0, 0, 0, 0.3);     
    border-radius: 20px;     
    padding: 10px;     
    margin: 0 auto;
    margin-top: 10px; 
}
p{
    margin: 0%;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
button{
    background-color: royalblue;
    border: white;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 10px 12px;
}
button :hover{
    color: black;
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 10px;
    padding: 10px 12px;
    border: white;
}
ol{
    margin-right: 10px;
    font-size: 20px;
    display: inline-block;
    text-align: left;
}
.xd{
    text-align: center;
}
ul{
    display: inline-block;
    text-align: left;
}


