form {
    margin-left: 3em;
    margin-right: 3em;
}

main {
    background-color: rgba(0, 0, 0, 0.6);
}

.btn.btn-sm.btn-outline-secondary:hover {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn.btn-sm.btn-outline-secondary {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    font-size: 1rem;
    position: relative;
    top: -0.25em;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
}

.container div {
    margin-top: 10px;
    margin-bottom: -20px;
    padding: 10px;
    font-size: 1.7em;
}