h1 {
    text-align: center;
}

h2 {
    font-size: 1.5em;
    margin-top: 0px;
}

button {
    background-color: black;
    color: blanchedalmond;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
}

.comprar {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: blanchedalmond;
}

.imagem {
    text-align: center;
}

.bg {
    transition: 2s;
}

.preço {
    text-align: center;
    font-size: 2em;
}

.btn.btn-sm.btn-outline-secondary:hover {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn.btn-sm.btn-outline-secondary {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    font-size: 1rem;
    position: relative;
    top: -0.25em;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: red;
}

.infos-rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #dddddd;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    font-size: small;
}

.navbar.navbar-expand-lg.navbar-light {
    border-bottom: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h6 {
    text-align: center;
    color: black;
}

.card {
    text-align: center;
}

p {
    color: black;
}