h5 {
    color: black;
}

h1 {
    text-align: left;
}

.row {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next-icon {
    background-image: url(../imagens/seta.png);
    height: 5em;
    width: 5em;
}

.carousel-control-prev-icon {
    background-image: url(../imagens/setaesquerda.png);
    height: 5em;
    width: 5em;
}

.btn.btn-sm.btn-outline-secondary:hover {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn.btn-sm.btn-outline-secondary {
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
    font-size: 1rem;
    position: relative;
    top: -0.25em;
}